In [216]:
# !pip install pandas-profiling

In [217]:
# !pip install spacy

In [218]:
# !pip install en_core_web_sm-3.1.0-py3-none-any.whl

In [2]:
import spacy
import en_core_web_sm
nlp = spacy.load("en_core_web_sm")

In [3]:
import pandas as pd

In [4]:
df_combined_web_iva_search = pd.read_csv("s3://adl-core-sagemaker-studio/external/IVA/combined_new_adult-child_outer_new.csv")

/tmp/ipykernel_19271/1765538524.py:1: DtypeWarning: Columns (0,1,2,4,5,9,10,11,12,13,14,15,16,17,18,20,21,23,24,25,26,27,28,29,31,33,39,41,56,57,58,59,63,64,65,67,68,70,71,74,75,77,78,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,106,108,109,110,111,112,113,114,115,116,117,118,119,122,123,124,125,126,127,128,129,130,131,132,134,135,136,137,138,155,156,159,160,161,164,165) have mixed types. Specify dtype option on import or set low_memory=False.
  df_combined_web_iva_search = pd.read_csv("s3://adl-core-sagemaker-studio/external/IVA/combined_new_adult-child_outer_new.csv")

In [5]:
df_combined_web_iva_search.head()

,agent_entitlement_client_name,agent_entitlement_access_key,channel,companytracking_clientid,companytracking_companyid,companytracking_companyname,companytracking_multitenantid,entry_id,entry_order,entry_type,...,load_timestamp,source_system_code,mobile_app_device_type,page_load_elapsed_time,mobile_app_type,session_create_date_cst_timezone_partition,platform_id_y,search_text,search_results,session_created_timestamp
0,Enterprise,00000000-0000-0000-0000-000000000000,Web,8141.0,staples,staples,NaN,2292881.0,7.0,Typed Input,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Enterprise,00000000-0000-0000-0000-000000000000,Web,8141.0,staples,staples,NaN,2330416.0,2.0,Typed Input,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Enterprise,00000000-0000-0000-0000-000000000000,Web,8141.0,staples,staples,NaN,2615890.0,2.0,Typed Input,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Enterprise,00000000-0000-0000-0000-000000000000,Web,8141.0,staples,staples,NaN,1332591.0,2.0,Typed Input,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Enterprise,00000000-0000-0000-0000-000000000000,Web,8141.0,staples,staples,NaN,2421907.0,2.0,Typed Input,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# df_combined_web_iva_search.columns.to_list()

In [7]:
df_combined_web_iva_search['session_start_cst'] = pd.to_datetime(df_combined_web_iva_search['session_start_cst'])

In [8]:
df_combined_web_iva_search['session_start_cst'].min()

Timestamp('2017-09-16 10:00:50')

In [9]:
df_combined_web_iva_search['session_start_cst'].max()

Timestamp('2023-03-26 22:31:18')

In [10]:
df_combined_web_iva_search.shape

(1245878, 170)

In [11]:
df_combined_web_iva_search.drop_duplicates(inplace=True)

In [12]:
df_combined_web_iva_search.shape

(1106709, 170)

In [13]:
# df_combined_web_iva_search.head()

In [14]:
monthly_counts_1 = df_combined_web_iva_search.resample('M', on='session_start_cst').count()

In [15]:
monthly_counts_1

,agent_entitlement_client_name,agent_entitlement_access_key,channel,companytracking_clientid,companytracking_companyid,companytracking_companyname,companytracking_multitenantid,entry_id,entry_order,entry_type,...,load_timestamp,source_system_code,mobile_app_device_type,page_load_elapsed_time,mobile_app_type,session_create_date_cst_timezone_partition,platform_id_y,search_text,search_results,session_created_timestamp
session_start_cst,,,,,,,,,,,,,,,,,,,,,
2017-09-30,442,442,442,442,431,431,0,442,442,442,...,0,0,0,0,0,0,0,0,0,0
2017-10-31,4733,4733,4733,4733,4733,4733,0,4733,4733,4733,...,0,0,0,0,0,0,0,0,0,0
2017-11-30,4571,4571,4571,4571,4571,4571,0,4571,4571,4571,...,0,0,0,0,0,0,0,0,0,0
2017-12-31,783,783,783,783,783,783,0,783,783,783,...,0,0,0,0,0,0,0,0,0,0
2018-01-31,1290,1290,1289,1290,1290,1290,0,1290,1290,1290,...,36,36,0,36,36,36,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-11-30,25689,25689,25685,25689,25688,25688,0,25689,25689,25689,...,21823,21823,0,21793,21823,21823,9000,9000,9000,9000
2022-12-31,24983,24983,24981,24983,24980,24980,0,24983,24983,24983,...,23144,23144,0,23122,23144,23144,9085,9085,9085,9085
2023-01-31,47121,47121,47120,47121,47118,47118,0,47121,47121,47121,...,44577,44577,0,44512,44577,44577,20052,20052,20052,20052
2023-02-28,27164,27164,27163,27164,27163,27163,0,27164,27164,27164,...,25345,25345,0,25304,25345,25345,9381,9381,9381,9381
2023-03-31,22109,22109,22107,22109,22103,22103,0,22109,22109,22109,...,19186,19186,0,19143,19186,19186,7420,7420,7420,7420

In [16]:
df_combined_web_iva_search2 = df_combined_web_iva_search[['input', 'session_id','person_internal_id',
'client_id','yyyymm','person_id','person_birth_date', 'person_age', 'person_gender', 
'person_employment_status','person_state', 'person_union_vs_non_union', 'person_salary',
'person_eeo',
'global_session_id',
'web_session_id',
'page_name',
'business_page_name',
'page_domain',
'page_type_code',
'page_type',
'page_web_type_description',
'browser_language',
'page_visit_duration',
'page_process_name',
'page_process_detail',
 'session_start_cst',                                                         
'search_text',
'search_results']]

In [17]:
# df_combined_web_iva_search2.head()

In [18]:
df_combined_web_iva_search3 = df_combined_web_iva_search2.fillna(' ')

In [19]:
df_combined_web_iva_search3.head()

,input,session_id,person_internal_id,client_id,yyyymm,person_id,person_birth_date,person_age,person_gender,person_employment_status,...,page_type_code,page_type,page_web_type_description,browser_language,page_visit_duration,page_process_name,page_process_detail,session_start_cst,search_text,search_results
0,step child a dependent?,843388.0,0,8141,201712.0,,,,,,...,,,,,,,,2017-12-05 21:48:56,,
1,how do i change my dependent daycare deduction,856115.0,0,8141,201712.0,,,,,,...,,,,,,,,2017-12-11 09:45:09,,
2,Child last name change,953928.0,0,8141,201801.0,,,,,,...,,,,,,,,2018-01-22 08:12:28,,
3,i am trying to add my children as beneficiarie...,505510.0,0,8141,201710.0,,,,,,...,,,,,,,,2017-10-15 10:34:01,,
4,how much timeoff do i get after the birth of m...,888875.0,0,8141,201712.0,,,,,,...,,,,,,,,2017-12-29 10:46:58,,

In [20]:
# df_combined_web_iva_search3.columns

In [21]:
words_2 = ['day care', 'creche', 'child care', 
 'nursery', 'nursery school', 'preschool', 'after-school care', 'day nursery', 'infant school', 
 'infant care', 'playschool', 'play-group', 'kindergarten', 'childminding', 'babysitting', 'babysitter', 
 'nanny care', 'children supervision', 'toddler care']

df_combined_web_iva_search5 = df_combined_web_iva_search3[
    (df_combined_web_iva_search3['input'].str.contains(r'\b(' + '|'.join(words_2) + r')\b', case=False, na=False)) |
    (df_combined_web_iva_search3['page_name'].str.contains(r'\b(' + '|'.join(words_2) + r')\b', case=False, na=False)) |
    (df_combined_web_iva_search3['search_text'].str.contains(r'\b(' + '|'.join(words_2) + r')\b', case=False, na=False))
]
df_combined_web_iva_search5.head(10)
# df_combined_web_iva_search4_2 = df_combined_web_iva_search3[df_combined_web_iva_search3['page_name'].str.contains('|'.join(words_2), case=False, na=False)]
# df_combined_web_iva_search4_3 = df_combined_web_iva_search3[df_combined_web_iva_search3['search_text'].str.contains('|'.join(words_2), case=False, na=False)]

/tmp/ipykernel_19271/3820910532.py:7: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  (df_combined_web_iva_search3['input'].str.contains(r'\b(' + '|'.join(words_2) + r')\b', case=False, na=False)) |
/tmp/ipykernel_19271/3820910532.py:8: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  (df_combined_web_iva_search3['page_name'].str.contains(r'\b(' + '|'.join(words_2) + r')\b', case=False, na=False)) |
/tmp/ipykernel_19271/3820910532.py:9: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  (df_combined_web_iva_search3['search_text'].str.contains(r'\b(' + '|'.join(words_2) + r')\b', case=False, na=False))

,input,session_id,person_internal_id,client_id,yyyymm,person_id,person_birth_date,person_age,person_gender,person_employment_status,...,page_type_code,page_type,page_web_type_description,browser_language,page_visit_duration,page_process_name,page_process_detail,session_start_cst,search_text,search_results
17,Submitted receipts for child care reimbursemen...,877278.0,0,8141,201712.0,,,,,,...,,,,,,,,2017-12-21 13:00:01,,
53,how to add child care saving account?,849223.0,0,5977,201712.0,,,,,,...,,,,,,,,2017-12-07 12:46:54,,
63,is the Dependent (Day Care) Flexible Spending ...,911874.0,0,5977,201801.0,,,,,,...,,,,,,,,2018-01-08 14:46:29,,
107,child care discounts,7291317.0,0,5977,202007.0,,,,,,...,,,,,,,,2020-07-06 14:29:38,,
113,what is dependent day care,949801.0,0,5977,201801.0,,,,,,...,,,,,,,,2018-01-19 18:25:07,,
118,do we have child care discounts,7291317.0,0,5977,202007.0,,,,,,...,,,,,,,,2020-07-06 14:29:38,,
145,Hi what is Health care FSA and Child care FSA,795085.0,0,5977,201711.0,,,,,,...,,,,,,,,2017-11-20 14:21:09,,
200,child care,7436225.0,0,5977,202007.0,,,,,,...,,,,,,,,2020-07-21 09:29:29,,
246,Where can I go to submit receipts for my 2017 ...,902177.0,0,5977,201801.0,,,,,,...,,,,,,,,2018-01-04 09:56:49,,
257,I want to double verify if I place money into ...,799522.0,0,5977,201711.0,,,,,,...,,,,,,,,2017-11-21 11:06:18,,

In [22]:
df_combined_web_iva_search5.shape

(481135, 29)

In [23]:
df_combined_web_iva_search5[['input','page_name','search_text']].head(100)

                                                  input page_name search_text
17    Submitted receipts for child care reimbursemen...
53                how to add child care saving account?
63    is the Dependent (Day Care) Flexible Spending ...
107                                child care discounts
113                          what is dependent day care
...                                                 ...       ...         ...
2622  Is the Day Care Spending Account included the ...
2625  Hello Lisa, this is linlin. I enrolled the dep...
2632  When is the last day to distribute from a depe...
2641                Dependent Day Care Spending Account
2789  Good Morning! I signed up for the Dependent Da...

[100 rows x 3 columns]

In [24]:
df_combined_web_iva_search3.shape

(1106709, 29)

In [25]:
df_combined_web_iva_search5.shape

(481135, 29)

In [26]:
df_combined_web_iva_search5 = df_combined_web_iva_search5.sample(frac=1, random_state=42)

In [27]:
df_combined_web_iva_search5.shape

(481135, 29)

In [28]:
df_combined_non_cc_web_iva_search = df_combined_web_iva_search3[
    (~df_combined_web_iva_search3['input'].str.contains(r'\b(' + '|'.join(words_2) + r')\b', case=False, na=False)) |
    (~df_combined_web_iva_search3['page_name'].str.contains(r'\b(' + '|'.join(words_2) + r')\b', case=False, na=False)) |
    (~df_combined_web_iva_search3['search_text'].str.contains(r'\b(' + '|'.join(words_2) + r')\b', case=False, na=False))
].head(df_combined_web_iva_search5.shape[0]//3)

/tmp/ipykernel_19271/3692029785.py:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  (~df_combined_web_iva_search3['input'].str.contains(r'\b(' + '|'.join(words_2) + r')\b', case=False, na=False)) |
/tmp/ipykernel_19271/3692029785.py:3: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  (~df_combined_web_iva_search3['page_name'].str.contains(r'\b(' + '|'.join(words_2) + r')\b', case=False, na=False)) |
/tmp/ipykernel_19271/3692029785.py:4: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  (~df_combined_web_iva_search3['search_text'].str.contains(r'\b(' + '|'.join(words_2) + r')\b', case=False, na=False))

In [29]:
df_combined_non_cc_web_iva_search = df_combined_non_cc_web_iva_search.sample(frac=1, random_state=42)

In [32]:
df_combined_cc_model_data = pd.concat([df_combined_web_iva_search5, df_combined_non_cc_web_iva_search], axis=0).sample(frac=1, random_state=42)

In [33]:
df_combined_cc_model_data.shape

(641513, 29)

### text preprocess

In [34]:
def count_intnt_entits(text):
    doc = nlp(text)
    intents = [token.text for token in doc if token.pos_ == 'VERB']
    entities = [token.text for token in doc if token.pos_ in {'NOUN', 'PROPN', 'ADJ', 'NUM', 'ADV'}]
    return len(intents), len(entities)

import re
def clean_text(text):
    clean_text = re.sub(r'[^\w\s]', '', text)
    return clean_text

def extract_ner_entities(sentence):
    doc = nlp(sentence)
    entities = [(entity.text, entity.label_) for entity in doc.ents]
    return entities

import numpy as np
def length_entities(list_entities):
    if (list_entities==np.nan or list_entities==None or list_entities==''):
        return 0
    else:
        return len(list_entities)
    
# filter_func = lambda x: any(item[1] in ["PERSON", "GPE", "ORG", "LOC", "FAC"] for item in x)
def filter_named_entities(text):
    # Process the text using Spacy
    doc = nlp(text)
    # Filter out named entities (ORG, PERSON, and GPE tags)
    filtered_words = [token.text for token in doc if token.ent_type_ not in ['ORG', 'PERSON', 'GPE', "LOC", "FAC"]]
    # Join the filtered words back into a string
    filtered_text = ' '.join(filtered_words)
    return filtered_text

In [35]:
import re
    
list_1 = ['ira','RMD','HRdirect','livechat','what is my hsa','P45','Payslip?',
    'sps','F80.2','ub','What is YSA','Paystub please','Sh','mfv','C-128','ax','no is hsa','FormL564','HIS','cif','GreT','YSACard',
    'Heli','RxPCN','403(b)','Hsa yes or no','ypr','Gv','ONA?','What is UHC?','HC-2','uo','what is 4DX?','osh','what is my hsa?',
    'sPRAVATO','sdr','RMDâ€™s','coverage?How','This is for my hsa','pto?','A&DD','childcareplus','fs','mbi','Is that my lowesbenefit.com',
    'hra yes','mri?']

def text_preprocess(dataframe, list_1):
    dataframe = dataframe.drop_duplicates()
    dataframe[['no_of_intents', 'no_of_entities']] = dataframe.apply(lambda x: pd.Series(count_intnt_entits(x['input'])), axis=1)  
    dataframe['input_cleaned'] = ''
    dataframe.loc[dataframe['input'].notnull(), 'input_cleaned'] = dataframe.loc[dataframe['input'].notnull(), 'input'].apply(clean_text)
    dataframe.loc[dataframe['page_name'].notnull(), 'page_name_cleaned'] = dataframe.loc[dataframe['page_name'].notnull(), 'page_name'].apply(clean_text)
    dataframe.loc[dataframe['search_text'].notnull(), 'search_text_cleaned'] = dataframe.loc[dataframe['search_text'].notnull(), 'search_text'].apply(clean_text)
    dataframe['ner_enities'] = ''
    dataframe.loc[dataframe['input_cleaned']!='', 'ner_enities'] = dataframe.loc[dataframe['input_cleaned']!='', 'input_cleaned'].apply(extract_ner_entities)
    dataframe['len_ner_enities'] = dataframe['ner_enities'].apply(length_entities)
    dataframe3 = dataframe[dataframe['len_ner_enities']>0]
    dataframe3['input_cleaned'] = dataframe3['input_cleaned'].apply(filter_named_entities)
    dataframe6 = pd.concat([dataframe[dataframe['len_ner_enities']==0], dataframe3], axis = 0)
    dataframe6 = dataframe6.drop(['no_of_intents','no_of_entities','ner_enities','len_ner_enities'], axis=1)
    dataframe6['input_changed']=dataframe6['input']!=dataframe6['input_cleaned']
    dataframe6['page_name_changed']=dataframe6['page_name']!=dataframe6['page_name_cleaned']
    dataframe6['search_text_changed']=dataframe6['search_text']!=dataframe6['search_text_cleaned']
    
    # create a new column 'category' containing 'Elder care' for rows where the words in words_2 appear in any of the cleaned text columns
    words_1 = ['day care', 'creche', 'child care', 
 'nursery', 'nursery school', 'preschool', 'after-school care', 'day nursery', 'infant school', 
 'infant care', 'playschool', 'play-group', 'kindergarten', 'childminding', 'babysitting', 'babysitter', 
 'nanny care', 'children supervision', 'toddler care']
    words_2 = [word.lower() for word in words_1]

#     def contains_category(text):
#         for word in words_2:
#             pattern = r'(?<![^\W_])' + re.escape(word) + r'(?![^\W_])'
#             if re.search(pattern, text.lower()):
# #                 print(word)
#                 return True
#         return False

    dataframe6['category'] = ''
#     mask = (dataframe6['input_cleaned'].apply(contains_category) |
#         dataframe6['page_name_cleaned'].apply(contains_category) |
#         dataframe6['search_text_cleaned'].apply(contains_category)) & (dataframe6['category'] != 'Other')
    mask = ((dataframe6['input_cleaned'].str.lower().str.contains(r'\b(' + '|'.join(words_2) + r')\b', case=False, na=False)) |
        (dataframe6['page_name_cleaned'].str.lower().str.contains(r'\b(' + '|'.join(words_2) + r')\b', case=False, na=False)) |
        (dataframe6['search_text_cleaned'].str.lower().str.contains(r'\b(' + '|'.join(words_2) + r')\b', case=False, na=False))) & (dataframe6['category'] != 'Other')
    dataframe6.loc[mask, 'category'] = 'Child care'
    dataframe6.loc[dataframe6['category'] == '', 'category'] = 'Other'
    
    return dataframe6

In [36]:
df_combined_cc_model_data_2 = text_preprocess(df_combined_cc_model_data, list_1)

/tmp/ipykernel_19271/274072819.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe[['no_of_intents', 'no_of_entities']] = dataframe.apply(lambda x: pd.Series(count_intnt_entits(x['input'])), axis=1)
/tmp/ipykernel_19271/274072819.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe[['no_of_intents', 'no_of_entities']] = dataframe.apply(lambda x: pd.Series(count_intnt_entits(x['input'])), axis=1)
/tmp/ipykernel_19271/274072819.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['input_cleaned'] = ''
/tmp/ipykernel_19271/274072819.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe.loc[dataframe['input'].notnull(), 'input_cleaned'] = dataframe.loc[dataframe['input'].notnull(), 'input'].apply(clean_text)
/tmp/ipykernel_19271/274072819.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe.loc[dataframe['page_name'].notnull(), 'page_name_cleaned'] = dataframe.loc[dataframe['page_name'].notnull(), 'page_name'].apply(clean_text)
/tmp/ipykernel_19271/274072819.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe.loc[dataframe['search_text'].notnull(), 'search_text_cleaned'] = dataframe.loc[dataframe['search_text'].notnull(), 'search_text'].apply(clean_text)
/tmp/ipykernel_19271/274072819.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['ner_enities'] = ''
/tmp/ipykernel_19271/274072819.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe.loc[dataframe['input_cleaned']!='', 'ner_enities'] = dataframe.loc[dataframe['input_cleaned']!='', 'input_cleaned'].apply(extract_ner_entities)
/tmp/ipykernel_19271/274072819.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['len_ner_enities'] = dataframe['ner_enities'].apply(length_entities)
/tmp/ipykernel_19271/274072819.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe3['input_cleaned'] = dataframe3['input_cleaned'].apply(filter_named_entities)
/tmp/ipykernel_19271/274072819.py:46: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  mask = ((dataframe6['input_cleaned'].str.lower().str.contains(r'\b(' + '|'.join(words_2) + r')\b', case=False, na=False)) |
/tmp/ipykernel_19271/274072819.py:47: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  (dataframe6['page_name_cleaned'].str.lower().str.contains(r'\b(' + '|'.join(words_2) + r')\b', case=False, na=False)) |
/tmp/ipykernel_19271/274072819.py:48: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  (dataframe6['search_text_cleaned'].str.lower().str.contains(r'\b(' + '|'.join(words_2) + r')\b', case=False, na=False))) & (dataframe6['category'] != 'Other')

In [37]:
df_combined_cc_model_data_2[['input_cleaned','search_text_cleaned','page_name_cleaned','category']].head(10)

,input_cleaned,search_text_cleaned,page_name_cleaned,category
105663,enroll in childcare plus,child care plus enrollment,HmCstmChildCarePlusLandingPageOpen,Child care
50024,What option will I choose I dont see anything ...,,HmCstmChildCarePlusLandingPageOpen,Other
111189,how to update child care provider,childcare,HmCstmChildCarePlusLandingPageOpen,Child care
313592,how to enroll my child for childcare program,child care benifit,HmCstmChildCarePlusLandingPageOpen,Child care
110117,How long does it take for documents submitted ...,,HmCstmChildCarePlusLandingPageOpen,Child care
1144180,,,contentPage Child Care Services,Child care
118119,child care reimbursment,child care plans,HmCstmChildCarePlusLandingPageOpen,Child care
242303,Child Care Plus Information,child care plans,HmCstmChildCarePlusLandingPageOpen,Child care
78977,child care plus,,HmCstmChildCarePlusLandingPageOpen,Child care
430470,Hi I just missed a phone call regarding verify...,,,Child care

In [38]:
df_combined_cc_model_data_2.shape

(461976, 36)

In [39]:
df_combined_cc_model_data_3 = df_combined_cc_model_data_2.drop(['person_id','person_birth_date','person_gender','global_session_id','web_session_id','business_page_name',
                                                               'page_type_code','page_type','page_web_type_description','browser_language','page_process_name',
                                                                'page_process_detail','person_eeo'], axis =1)

In [40]:
df_combined_cc_model_data_3.columns

Index(['input', 'session_id', 'person_internal_id', 'client_id', 'yyyymm',
       'person_age', 'person_employment_status', 'person_state',
       'person_union_vs_non_union', 'person_salary', 'page_name',
       'page_domain', 'page_visit_duration', 'session_start_cst',
       'search_text', 'search_results', 'input_cleaned', 'page_name_cleaned',
       'search_text_cleaned', 'input_changed', 'page_name_changed',
       'search_text_changed', 'category'],
      dtype='object')

In [41]:
df_combined_cc_model_data_3.shape

(461976, 23)

In [42]:
df_combined_cc_model_data_3['category'].value_counts()

Child care    409225
Other          52751
Name: category, dtype: int64

In [43]:
df_combined_cc_model_data_3 = df_combined_cc_model_data_3[[ 'session_id', 'person_internal_id', 'client_id', 'input','input_cleaned',
                                                            'search_text','search_text_cleaned', 'page_name','page_name_cleaned',
                                                           'category','person_age',
        'person_employment_status', 'person_state',
       'person_union_vs_non_union', 'person_salary',
       'page_domain', 'page_visit_duration',
       'session_start_cst',
       'search_results', 'yyyymm',
        'input_changed', 'page_name_changed',
       'search_text_changed']]

In [44]:
# df_combined_ec_model_data_3.to_excel('ec_model_combined_cleaned_data_v10.xlsx')

In [45]:
df_combined_cc_model_data_4 = df_combined_cc_model_data_3.drop(['input','search_text','page_name','input_changed','page_name_changed',
                                                               'search_text_changed'], axis=1)

In [125]:
df_combined_ec_model_data_5 = df_combined_ec_model_data_4.copy()

In [126]:
df_combined_ec_model_data_5[['person_age','person_salary','page_visit_duration']] = df_combined_ec_model_data_4[['person_age','person_salary','page_visit_duration']].apply(pd.to_numeric,errors='coerce')
# combined_ec_model_data_5['person_salary'] = df_combined_ec_model_data_4['person_salary'].to_numeric()
# combined_ec_model_data_5['page_visit_duration'] = df_combined_ec_model_data_4['page_visit_duration'].to_numeric()
# .astype({"person_age": float, "person_salary": float, "page_visit_duration": float })

In [127]:
df_combined_ec_model_data_5.shape

(12450, 17)

In [128]:
import pandas as pd

In [129]:
# df_combined_ec_model_data_5['session_create_date_cst_timezone_partition'] = pd.to_datetime(df_combined_ec_model_data_5['session_create_date_cst_timezone_partition'])

In [130]:
df_combined_ec_model_data_5['session_start_cst'] = pd.to_datetime(df_combined_ec_model_data_5['session_start_cst'], errors='coerce')

In [131]:
monthly_counts_2 = df_combined_ec_model_data_5.resample('M', on='session_start_cst').count()

In [132]:
monthly_counts_2

,session_id,person_internal_id,client_id,input_cleaned,search_text_cleaned,page_name_cleaned,category,person_age,person_employment_status,person_state,person_union_vs_non_union,person_salary,page_domain,page_visit_duration,session_start_cst,search_results,yyyymm
session_start_cst,,,,,,,,,,,,,,,,,
2017-09-30,101,101,101,101,101,101,101,0,101,101,101,0,101,0,101,101,101
2017-10-31,1915,1915,1915,1915,1915,1915,1915,0,1915,1915,1915,0,1915,0,1915,1915,1915
2017-11-30,884,884,884,884,884,884,884,0,884,884,884,0,884,0,884,884,884
2017-12-31,275,275,275,275,275,275,275,0,275,275,275,0,275,0,275,275,275
2018-01-31,257,257,257,257,257,257,257,0,257,257,257,0,257,0,257,257,257
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-11-30,83,83,83,83,83,83,83,50,83,83,83,46,83,56,83,83,83
2022-12-31,35,35,35,35,35,35,35,10,35,35,35,10,35,10,35,35,35
2023-01-31,84,84,84,84,84,84,84,53,84,84,84,53,84,56,84,84,84
2023-02-28,44,44,44,44,44,44,44,27,44,44,44,27,44,27,44,44,44
2023-03-31,85,85,85,85,85,85,85,14,85,85,85,14,85,14,85,85,85

In [133]:
df_combined_ec_model_data_5.shape

(12450, 17)

In [134]:
df_combined_ec_model_data_5['session_start_cst'].max()

Timestamp('2023-03-26 18:07:41')

In [135]:
# filterimg last six month data as unseen test data
start_date = pd.to_datetime('2022-12-26 00:00:00')
end_date = df_combined_ec_model_data_5['session_start_cst'].max()
unseen_test_df = df_combined_ec_model_data_5[(df_combined_ec_model_data_5['session_start_cst'] >= start_date) & (df_combined_ec_model_data_5['session_start_cst'] <= end_date)]

In [136]:
unseen_test_df.shape

(224, 17)

In [137]:
unseen_test_df.fillna(value={'input_cleaned': ' ', 'page_name_cleaned': ' ', 'search_text_cleaned': ' '}, inplace=True)

/tmp/ipykernel_18925/3508498311.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unseen_test_df.fillna(value={'input_cleaned': ' ', 'page_name_cleaned': ' ', 'search_text_cleaned': ' '}, inplace=True)

In [138]:
unseen_test_df[['input_cleaned', 'search_text_cleaned', 'page_name_cleaned', 'category']].to_excel('EC_unseen_data.xlsx')

In [139]:
EC_unseen_test_df = pd.read_excel('EC_unseen_data.xlsx')
EC_unseen_test_df.sample(10)

,Unnamed: 0,input_cleaned,search_text_cleaned,page_name_cleaned,category
9,567850,elder care,,,Elder care
84,508188,PregnancyChildbirth Disability Leave,,contentPage Backup Child and Elder Care,Elder care
117,355176,elder care reimbursement,childcare20benefita,contentPage 2023 Childcare Subsidy,Elder care
144,540187,what does kohls offer for elder care,,,Elder care
221,474584,What is the total amount I will contribute to ...,,,Elder care
113,581115,elder care,,,Elder care
68,378649,Cardinal Health Child Sworn Statemen,Cardinal Health Child Sworn Statement,contentPage BackUp Child and Elder Care,Elder care
104,355172,elder care reimbursement,childcare20benefita,contentPage 2023 Childcare Subsidy,Elder care
177,75618,How to request elder care reimbursement,,,Elder care
185,510415,policys for elder care,elder care,,Elder care

In [140]:
final_EC_model_df = df_combined_ec_model_data_5[df_combined_ec_model_data_5['session_start_cst'] < start_date]

In [141]:
final_EC_model_df['category'].value_counts()

Other         4049
Elder care    1240
Name: category, dtype: int64

In [142]:
final_EC_model_df = pd.concat([final_EC_model_df[final_EC_model_df.category=='Elder care'],
                               final_EC_model_df[final_EC_model_df.category=='Other']]).sample(frac=1, random_state=42)


final_EC_model_df['category'].value_counts()

Other         4049
Elder care    1240
Name: category, dtype: int64

In [143]:
final_EC_model_df.to_excel('final_ec_model_data.xlsx')

In [144]:
final_EC_model_df.shape

(5289, 17)

In [145]:
# Load the data
data = pd.read_excel('final_ec_model_data.xlsx')[['input_cleaned', 'search_text_cleaned', 'page_name_cleaned', 'category']]
# data.sample()

In [146]:
data.fillna(value={'input_cleaned': ' ', 'page_name_cleaned': ' ', 'search_text_cleaned': ' '}, inplace=True)

In [147]:
data.sample()

,input_cleaned,search_text_cleaned,page_name_cleaned,category
4747,child care,,HmCstmChildCarePlusLandingPageOpen,Other

In [148]:
data.category.value_counts()

Other         4049
Elder care    1240
Name: category, dtype: int64

In [149]:
data.category = data.category.map({'Other':0, 'Elder care':1})
data.sample()

               input_cleaned search_text_cleaned page_name_cleaned  category
152  childelder care account                                               1

In [150]:
data.category.value_counts()

0    4049
1    1240
Name: category, dtype: int64

In [151]:
data.to_excel('EC_texts_cols_preprocessed_data.xlsx')

In [152]:
# data[data['category']==0]['input_cleaned'].to_list()

### Model building on the basis of just text columns

------

In [ ]:
import pandas as pd
import numpy as np
import torch
from sklearn.metrics import accuracy_score, confusion_matrix
from transformers import BertTokenizer, BertForSequenceClassification

# set the random seed for NumPy
np.random.seed(42)

# set the random seed for PyTorch
torch.manual_seed(42)

# load the data
# data = pd.read_csv('data.csv')

# load the BERT tokenizer
tokenizer = BertTokenizer.from_pretrained('bert-base-uncased')

# encode the data using the tokenizer
encodings = tokenizer(list(data['input_cleaned']), list(data['search_text_cleaned']), list(data['page_name_cleaned']),
                      truncation=True, padding=True)

# create the dataset
dataset = torch.utils.data.TensorDataset(
    torch.tensor(encodings['input_ids']),
    torch.tensor(encodings['attention_mask']),
    torch.tensor(list(data['category']))
)

# split the dataset into training and validation sets
train_size = int(0.8 * len(dataset))
val_size = len(dataset) - train_size
train_dataset, val_dataset = torch.utils.data.random_split(dataset, [train_size, val_size])

# create the DataLoader for the training and validation sets
train_loader = torch.utils.data.DataLoader(train_dataset, batch_size=32, shuffle=True)
val_loader = torch.utils.data.DataLoader(val_dataset, batch_size=32, shuffle=False)

# load the BERT model for sequence classification
model = BertForSequenceClassification.from_pretrained('bert-base-uncased', num_labels=2,)

# set up the optimizer and loss function
optimizer = torch.optim.AdamW(model.parameters(), lr=2e-5)
loss_fn = torch.nn.CrossEntropyLoss()

epochs=10

# train the model
for epoch in range(epochs):
    running_loss = 0.0
    for batch in train_loader:
        input_ids, attention_mask, labels = batch
        outputs = model(input_ids, attention_mask=attention_mask, labels=labels)
        loss = outputs.loss
        logits = outputs.logits
        loss.backward()
        optimizer.step()
        optimizer.zero_grad()
        running_loss += loss.item()
    print(f'Epoch {epoch + 1} Loss: {running_loss / len(train_loader)}')

    # make predictions on the data and compute the probabilities
    predictions = []
#     probabilities = []
    true_labels = []
    with torch.no_grad():
        model.eval()
        for batch in val_loader:
            input_ids, attention_mask, labels = batch
            outputs = model(input_ids, attention_mask=attention_mask)
            logits = outputs.logits
#             probs = torch.nn.functional.softmax(logits, dim=1)
            predictions.extend(torch.argmax(logits, dim=1).tolist())
#             probabilities.extend(probs[:, 1].tolist())  # probability of class 1 (assuming binary classification)
            true_labels.extend(labels.tolist())
    
    # convert probabilities to a NumPy array for easier handling
#     probabilities = np.array(probabilities)

    # print the probabilities for each row of data
#     print(f'Probabilities for each row of data:')
#     print(probabilities)
    
    accuracy = accuracy_score(true_labels, predictions)
    print(f'Epoch {epoch + 1} Validation Accuracy: {accuracy}')

    # generate the confusion matrix
    cm = confusion_matrix(true_labels, predictions)
    print(f'Epoch {epoch + 1} Confusion Matrix:')
    print(cm)

Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertForSequenceClassification: ['cls.seq_relationship.bias', 'cls.predictions.bias', 'cls.predictions.decoder.weight', 'cls.predictions.transform.LayerNorm.bias', 'cls.predictions.transform.dense.weight', 'cls.predictions.transform.dense.bias', 'cls.predictions.transform.LayerNorm.weight', 'cls.seq_relationship.weight']
- This IS expected if you are initializing BertForSequenceClassification from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertForSequenceClassification from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).
Some weights of BertForSequenceClassification were not initialized from the model checkpoint at bert-base-uncased and are newly initialized: ['classifier.bias', 'classifier.weight']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

Epoch 1 Loss: 0.18726715652090042
Epoch 1 Validation Accuracy: 0.9773156899810964
Epoch 1 Confusion Matrix:
[[817   6]
 [ 18 217]]
Epoch 2 Loss: 0.054468235659195965
Epoch 2 Validation Accuracy: 0.9877126654064272
Epoch 2 Confusion Matrix:
[[819   4]
 [  9 226]]
Epoch 3 Loss: 0.028238701266044035
Epoch 3 Validation Accuracy: 0.9867674858223062
Epoch 3 Confusion Matrix:
[[820   3]
 [ 11 224]]

In [ ]:
train_size, val_size

In [ ]:
# define the path to save the model
save_path = "./EC_model_outer_combined_texts_data/"

# create the directory if it doesn't exist
import os
if not os.path.exists(save_path):
    os.makedirs(save_path)

# save the model
model.save_pretrained(save_path)

## prediction code

In [ ]:
import pandas as pd
import torch
from transformers import BertTokenizer, BertForSequenceClassification

# load the BERT tokenizer
tokenizer = BertTokenizer.from_pretrained('bert-base-uncased')

# load the trained model
model = BertForSequenceClassification.from_pretrained(save_path)

# load the new data to be predicted
new_data = pd.read_excel('EC_unseen_data.xlsx')

# encode the new data using the tokenizer
# encode the new data using the tokenizer
input_texts = new_data['input_cleaned'].fillna(' ').tolist()
search_texts = new_data['search_text_cleaned'].fillna(' ').tolist()
page_names = new_data['page_name_cleaned'].fillna(' ').tolist()
new_data['category'] = new_data['category'].replace({0:'Other', 1:'Elder care'})
# page_names = new_data['page_name_cleaned'].fillna(' ')

In [ ]:
encodings = tokenizer(input_texts, search_texts, page_names,
                      truncation=True, padding=True)

# create the dataset
dataset = torch.utils.data.TensorDataset(
    torch.tensor(encodings['input_ids']),
    torch.tensor(encodings['attention_mask'])
)

# create the DataLoader for the new data
loader = torch.utils.data.DataLoader(dataset, batch_size=32, shuffle=False)

# make predictions on the new data

predictions = []
probabilities = []
with torch.no_grad():
    model.eval()
    for batch in loader:
        input_ids, attention_mask = batch
        outputs = model(input_ids, attention_mask=attention_mask)
        logits = outputs.logits
        probs = torch.nn.functional.softmax(logits, dim=1)
        probabilities.extend(probs[:, 1].tolist())
        predictions.extend(torch.argmax(logits, dim=1).tolist())

# replace the mapping of predictions with a function that handles non-binary values
# def label_predictions(pred):
#     if pred == 0:
#         return 'Other'
#     elif pred == 1:
#         return 'Elder care'
#     else:
#         return ' '
    
# add the predictions to the new data DataFrame
# new_data['predictions'] = predictions
    
# new_data['predictions'] = new_data['predictions'].apply(label_predictions)
new_data['predictions'] = pd.Series(predictions).apply(lambda x: 'Other' if x==0 else 'Elder care' if x==1 else ' ')

# new_data['predictions'] = new_data['predictions'].replace({0:'Other', 1:'Elder care'})

new_data['probability'] = probabilities
# save the new data with predictions
new_data.to_csv('EC_predictions.csv', index=False)

In [ ]:
new_data['predictions'].value_counts()

In [ ]:
# new_data['category']

In [ ]:
# make predictions on the validation set and compute the accuracy
predictions = list(new_data['predictions'])
true_labels = list(new_data['category'])

accuracy = accuracy_score(true_labels, predictions)

# generate the confusion matrix
cm = confusion_matrix(true_labels, predictions)
print(cm)
print(accuracy)

In [ ]:
# Convert confusion matrix to pandas dataframe for visualization
# labels = ['Other', 'Elder care']

In [ ]:
# import seaborn as sns
# import matplotlib.pyplot as plt  
# fig = plt.figure()
# ax = fig.add_subplot(111)
# cax = ax.matshow(cm)
# plt.title('Confusion matrix of the classifier')
# fig.colorbar(cax)
# ax.set_xticklabels([''] + labels)
# ax.set_yticklabels([''] + labels)
# plt.xlabel('Predicted')
# plt.ylabel('True')
# plt.show()

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt     

ax= plt.subplot()
sns.heatmap(cm, annot=True, fmt='g', ax=ax);  #annot=True to annotate cells, ftm='g' to disable scientific notation

# labels, title and ticks
accuracy = accuracy_score(true_labels, predictions)
print(accuracy)

ax.set_xlabel('Predicted labels');ax.set_ylabel('True labels'); 
ax.set_title('Confusion Matrix'); 
ax.xaxis.set_ticklabels(['Elder care','Other']); ax.yaxis.set_ticklabels(['Elder care', 'Other']);

In [ ]:
new_data[new_data['category']!=new_data['predictions']].to_csv('EC_model_wrong_predictions_1.csv')

In [ ]:
new_data.to_csv('EC_model_all_predictions_1.csv')